<!--
  Generated template for the CustomerRentalstatusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
  <!--<ion-navbar color="primary">-->
    <!--<ion-title>View Current Rental Status of {{customerChosen.Customer_Name}} </ion-title>-->
  <!--</ion-navbar>-->

</ion-header>


<ion-content>

  <div id="tablet-ui" *ngIf="platform.is('tablet') || platform.is('core')" style="margin-bottom: 100px">

    <expandable-card [initialExpand]="true" [expandHeight]="900"
                     [paginationData]="paginationData"
                     (changePagination)="onChangePagination($event)">

      <div card-title>
        Rental Status
      </div>

      <div table-headers>
        <ion-row padding-bottom padding-top>
          <ion-col>Status</ion-col>
          <ion-col>Date</ion-col>
          <ion-col>Ref No.</ion-col>
          <ion-col>Issue Qty</ion-col>
          <ion-col>Return Qty</ion-col>
          <ion-col>Balance Qty (Month End)</ion-col>
          <ion-col>Remarks</ion-col>
          <ion-col>Pallet Type</ion-col>
        </ion-row>
      </div>

      <div table-data *ngFor = "let rs of customerRentalStatus">
        <ion-row>
          <ion-col><span>{{rs.Status}}</span></ion-col>
          <ion-col><span>{{rs.Date}}</span></ion-col>
          <ion-col><span>{{rs.Ref_No_}}</span></ion-col>
          <ion-col><span>{{rs.Issue_Qty}}</span></ion-col>
          <ion-col><span>{{rs.Return_Qty}}</span></ion-col>
          <ion-col><span>{{rs.Balance_Qty}}</span></ion-col>
          <ion-col><span>{{rs.Remarks}}</span></ion-col>
          <ion-col><span>{{getPalletType(rs.Pallet_Profile_ID) }}</span></ion-col>
        </ion-row>
      </div>

    </expandable-card>


  </div>


  <!--<ion-grid>-->
    <!--<ion-row style="background: white; position: sticky; top: 0; left: 0; right: 0; z-index: 9999;">-->
      <!--<ion-col>-->
        <!--Status-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--Date-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--Ref No.-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--Issue Qty-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--Return Qty-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--Balance Qty (Month End)-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--Remarks-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--Pallet Type-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row *ngFor = "let rs of customerRentalStatus">-->
      <!--<ion-col>-->
        <!--{{rs.Status}}-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--{{rs.Date}}-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--{{rs.Ref_No_}}-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--{{rs.Issue_Qty}}-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--{{rs.Return_Qty}}-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--{{rs.Balance_Qty}}-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--{{rs.Remarks}}-->
      <!--</ion-col>-->
      <!--<ion-col>-->
        <!--{{getPalletType(rs.Pallet_Profile_ID) }}-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->

</ion-content>
