// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.custom-customer-popover .popover-content {
  width: fit-content;
  top: inherit;
  left: inherit;
  bottom: inherit;
  height: 300px;
}

.update-profile-modal .modal-wrapper {
  min-height: 100%;
  height: auto;

  //overflow: auto;
  background-color: map_get($colors, primary-light) !important;
}
.update-profile-modal-retrieve-note-summary .modal-wrapper {
  min-height: 100%;
  height: auto;

  //overflow: auto;
  background-color: map_get($colors, primary-light) !important;
}

  ion-content {
    background-color: map_get($colors, primary-light) !important;
  }

  ion-card{
    box-shadow: none !important;
  }

//ion-grid {
//  ion-row:nth-of-type(even) {
//    background: aliceblue;
//  }
//}

ion-card{
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

ion-card{
  will-change: max-height;
}

ion-content {
  background-color: map_get($colors, primary-light) !important;
}

ion-card-header{
  background-color: map_get($colors, primary-accent);
}

.table-header {
  color: #757575;
}
.table-data {
  color: #242424;

}
.table-card .table-data {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.table-data.selectable-table-data {
  color: map_get($colors, primary);
}

hr {
  margin: 0;
}

ion-card-header {
  button {
    padding: 0 5px !important;
  }
}

.details-table ion-col ion-col {
  display: flex;
  align-items: center;
}

.selected-item {
  color: map_get($colors, secondary) !important;
}

ion-card {
  transition: all 0.2s;
  will-change: all;
}

ion-card.details-card {
  position: fixed;
  top: 112px;

  left: 25%;
  right: 26px;
  height: auto;
  width: auto;

  margin: 0;

  //elevated card
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.14), 0 12px 4px -8px rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.12);

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}

ion-card.details-card.hide-card {
  -webkit-transform: translateX(110%);
  -moz-transform: translateX(110%);
  -ms-transform: translateX(110%);
  -o-transform: translateX(110%);
  transform: translateX(110%);
}

.pagination {
  ion-note {
    color: #757575 !important;
  }
  ion-label {
    color: #757575 !important;

    font-size: 1.3rem;
  }
  ion-select .select-text {
    color: #757575;

    font-size: 1.3rem;
  }
  ion-icon {
    color: #757575;
  }
}

.type-filter {
  padding-left: 37px;

  .selected {
    background-color: map_get($colors, primary);
    color: #fff;
  }
}

#bottom-bulk-action-panel{
  position: fixed;
  width: 100%;
  left: 0;
  bottom:0;
  //position: fixed;
  //left: 0px;
  //right: 0px;
  //bottom: 0px;
  //top: auto;
  background-color: map_get($colors, primary-dark);

  padding: 0;
  margin: 0;
  color: map_get($colors, light);

  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;

  p {
    padding-left: 30px;
  }
}

#bottom-bulk-action-panel.hide-panel{
  -webkit-transform: translateY(110%);
  -moz-transform: translateY(110%);
  -ms-transform: translateY(110%);
  -o-transform: translateY(110%);
  transform: translateY(110%);
}
