<!-- Generated template for the CustomerContextMenuComponent component -->
<ion-list>
  <ion-list-header style = "font-size: medium">More Customer Options</ion-list-header>
  <!--<button ion-item (click)="goToEditInfo()">Edit Information</button>-->
  <!--<button ion-item (click)="goToRentalStatus()">View Rental Status</button>-->
  <!--<button ion-item (click)="goToRateCharge()">Manage Rate Charges</button>-->
  <button ion-item (click)="goToMonthlySummaryModal()">View Monthly Summary</button>
  <button ion-item (click)="generateXLYearSummaryInvoice()">Download Yearly Invoice Summary</button>
  <button ion-item (click)="deleteCustomer()">Remove Customer</button>
</ion-list>
